<a href="https://colab.research.google.com/github/nikesh11xx/Data-to-Decision-blog/blob/main/Built_in_function_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

creating a finction with docstring
- a docstring is a multiline string

In [4]:
def is_even(num):
  '''
  This function return if a given number is even or odd
  input - any valid integer
  output - odd/even
  created on  - 13th feb 2014

  '''
  if type(num) == int:
    if num % 2 == 0:
      return 'even'
    else:
      return 'odd'
  else:
    return 'only int value is valid'

In [ ]:
for i in range(1,11):
  x = is_even(i)
  print(x)

In [5]:
is_even('hekko')

'only int value is valid'

Parameters or arguments
- while creating a function the input is called parameter
- when calling a function while using the input is called argument

In [17]:
# Default argument

def power(a=1,b=1):
  '''
  This function return the power of the num
  input - any valid integer number
  output - power of the number

  '''
  if type(a) == int and type(b)==int:
   return a ** b
  else:
   return 'Enter a valid integer only'

In [21]:
power('dkfjeihwehekvm')

'Enter a valid integer only'

keyword argument
- keyword arguments are arguments passed to a function by specifying the parameter name along with the value

In [23]:
# keyword argument

power(b=3,a=2)

8

*args and **kwargs are special python keywords  that are used to pass the variable length of a argument to a function

In [27]:
# args
def add(*args):
  '''
This function return the addtition of the given number
parameter -  n number of value with , seperated
  '''
  add= 0

  for i in args:
    add =  add + i
  return(add)

In [28]:
add(1,2,2)

5

In [53]:
def multiply(*args):
  '''
  This function return the multiplication of the number
  parameter - n number of value with , seperated
  '''
  # if type(*args)== int:
  product = 1

  for i in args:
    product = product * i
  return product

  # else:
    # print('only A integer is valid ')

In [55]:
multiply(2,2,2)

8

In [45]:
def count_element(*args):
  '''
This function return the cout of element
parameter -  you can give any kund of paramete
  '''
  total = 0
  for i in args:
    total = total + len(i)
  return(total)

In [44]:
count_element(("Hello", [1, 2, 3], (4, 5, 6), {"a": 1, "b": 2}))

4

- ** kwargs allow us to  pass any number of keyword argument
-keyword argument mean that they contain a key-value pair like a python dictionary

In [59]:
def display(**kwargs):


  for key,value in kwargs.items():
    print( key, '->',value)

In [60]:
display(india='delhi',nepal='katmandu',china='crona')

india -> delhi
nepal -> katmandu
china -> crona

Lambda Function
- A lambda function is a small anonymous function
- A lambda function  can take any number of arguments,but can have one expresssion

In [2]:
a = lambda x : x**2
a(2)

4

In [3]:
b = lambda x,y: x+y
b(2,3)

5

Difference between lambda Vs Normal function

- lambda funtion has no name
- lambda has no return value its return a function
-  lambda is written in one line
- not reusable
- lambda function are used in higher order function

In [4]:
# check if a string has a

q=  lambda s: 'a' in s
q('hello')

False

In [5]:
# odd and even
a = lambda x :'even' if x%2 == 0 else 'odd'
a(4)

'even'

higher order function

In [7]:
# example

def sq(x):
  return x**2

def tf(f,l):
  output = []
  for i in l:
    output.append(f(i))

  print(output)
l= [1,2,3,4,5,6]

# tf(sq,l)

tf(lambda x:x**2,l)

[1, 4, 9, 16, 25, 36]

map

In [10]:
# square the items of a list

list(map(lambda x:x**2,[1,2,3,4,5,6]))

[1, 4, 9, 16, 25, 36]

In [16]:
# odd/even labelling of the list items

l = [1,2,3,4,5,6]

list(map(lambda x: 'even' if x%2==0 else 'odd',l))

'even'

In [20]:
# extract name from a list of dict

users = [
{
'name': 'Rahul',
'age':45,
'gender': 'male'
},
{
'name': 'Nitish',
'age':33,
'gender': 'male'
},
{
'name': 'Ankita',
'age':50,
'gender': 'female'
}
]


list(map(lambda user:user['name'],users))

['Rahul', 'Nitish', 'Ankita']

filter

In [21]:
list(filter(lambda x: x>5,[1,2,3,4,5,6,7,8]))

[6, 7, 8]

In [28]:
fruits= ['apple','mango','orange']

list(filter(lambda x: x.startswith('a'),fruits))

['apple']

reduce

In [29]:
import functools
functools.reduce(lambda x,y: x+y,[1,2,3,4,5,6])

21

In [32]:
# find the max

list[functools.reduce(lambda x,y:x if x>y else y,[1,5,7,4,7,9,3])]

list[9]