<a href="https://colab.research.google.com/github/nikesh11xx/Data-to-Decision-blog/blob/main/strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String
  * in python string are a sequence of unicode character

## creating String

In [ ]:
s = 'Hello'
s = "Hello"
s = ''' hello''' # multiline string
s = str('Hello')

## Accessing Substring from string
  
  * indexing
  * slicing

In [ ]:
# indexing
s  =  'hello i am nikesh'

s[11]

# slicing
print(s[11:-2])
print(s[-1:-7:-1])

## Editing and Deleting in string

In [ ]:
print(s)
# Python strings are immutable
s[0] = 'H'

In [ ]:
# delete string
del s

## Operations on string
* Arithmetic Operations
* Relational Operations
* Logical Operations
* Loops on string
* Membership Operations

In [ ]:
print('odisha' + ' ' + 'bhubneshwar')
print('odisha' * 5)
print('odisha' == 'india')
print('odisha' != 'india')

## Common  Function

* len()
* min()
* max()
* sorted() Output come in list data type

In [ ]:
s ='Nikesh'
print(len(s))
print(min(s))
print(max(s))
print(sorted(s,reverse=True))

## Capitalize / Title / Upper / Lower / Swapcase

In [ ]:
s ='nikesh singh'
# capaitalize()
s.capitalize()

In [ ]:
# title()
s.title() #it convert 1st letter of every words in capital

In [ ]:
# upper()
s.upper() # it convert every letter of words to upper case

In [ ]:
# lower()
s.lower() # it convert every letter oof words to lower case

In [ ]:
# swapcase()
'HeLlo WorLD'.swapcase() #it convert lower to upper upper to lower

## count/find/index

In [ ]:
'my name is nikesh'.count('i')

In [ ]:
'my name is nikesh'.find('n') # it give index number it and -1 if character is not found

In [ ]:
'my name is nikesh'.index('n') # it give error if character is not found

#endswith/startswith

In [ ]:
'my name is nikesh'.endswith('nikesh')

In [ ]:
'my name is nikesh'.startswith('my')

## format

In [ ]:
name = 'nikesh'
gender = 'male'

'hi my name is {} and i am a {}'.format(name,gender)

In [ ]:
'hi my name is {0} and i am a {1}'.format(name,gender)

In [ ]:
f'hi my name is {name} and i am a {gender}'

##isalnum()/ isalpha()/ isdigit()/ isidentifier()

In [ ]:
'nikesh123'.isalnum()

In [ ]:
'nikesh123'.isalpha()

In [ ]:
'nikesh123'.isdigit()

In [ ]:
'nikesh123'.isidentifier()

## split() / join()

In [ ]:
' hi my name is nikesh '.split()

In [ ]:
' hi my name is nikesh '.split('i')

In [ ]:
' '.join(['hi', 'my', 'name', 'is', 'nikesh'])

In [ ]:
'hi my name is nikesh'.replace('name','naam')

In [ ]:
'nikesh  singh    '.strip()

# Find the length of a given string without the len() function

In [ ]:
n = input('Enter the string ')

c= 0

for i in (n):
  if i == ' ':
    continue
  c +=1

print(c)

Extract username from E-mail

In [ ]:
email = input('Enter the email ')

pos = email.index('@')

print(email[0:pos])

count the frequency of a particular character in a provided string

In [ ]:
w = input('Enter your sentences ')

term = input('What would like to search for  ')

count = 0
for i in w:
  if i == term:
    count +=1
print(count)

Write a program which can remove a particular character from a string

In [ ]:
s = input('Enter the string ')
term = input('what would like to remove ')

result = ''

for i  in s:
  if i != term:
    result +=i
print(result)

write a program to  count the number of

words in a string without split()

In [ ]:
def count_s(string):
  l = []
  temp = ''
  for i in string:

    if i != ' ':
      temp += i
    else:
      l.append(temp)
      temp = ''
  l.append(temp)
  print(l)

count_s('hi how are you')

write a python program to convert a string to title case without using the title()

In [ ]:
def titels(string):
  l = []
  st = ''

  for i in string.split():
    l.append(i[0].upper() + i[1:].lower())
    st = ' '.join(l)
  print(st)
titels('nikesh singh')